
  <%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :full_name, class: "form-label"  %>
    <%= form.text_field :full_name, class: "form-control" %>
  </div>

  <div class="mb-6">
    <%= form.label :avatar, class: "form-label"  %>
    <%= form.file_field :avatar, class: "form-control" %>
  </div>


  <div class="mb-3">
    <%= form.label :role , class: "form-label" %>
    <%= form.select :role, ['admin', 'client'], {}, class: "form-control col-sm-3 col-md-3" %>
    
  </div>

  <div class="mb-3">
    <%= form.submit 'Update' , class: "btn btn-primary" %>
  </div>

  <% end %>


